<html>
    <head>
        Blissful
        <link rel="stylesheet" href="./style.css"/>
    </head>
    <div>
       <a href = "https://adventuresofalingblisst.com/"> <img src = "https://adventuresofalingblisst.files.wordpress.com/2015/07/11720443_423881347819040_28168107_n.jpg"></a>
        <a href = "https://www.dev.hsa.net/"><img src = "https://adventuresofalingblisst.files.wordpress.com/2015/07/11720443_423881347819040_28168107_n.jpg"></a>
       <a href = "https://kirkland.harvard.edu/home"> <img src = "https://adventuresofalingblisst.files.wordpress.com/2015/07/11720443_423881347819040_28168107_n.jpg"></a>
    </div>
</html>