<html>
    <head>
        Likes and Dislikes
        <link rel="stylesheet" href="./style.css"/>
    </head>
    <body>
        <h1>What I like</h1>
        <div>
            <ol>    
                <li> <a href = "https://www.spotify.com/us/"> Spotify </a></li>
                <li> <a href = "https://codeburst.io/javascript-what-the-heck-is-a-callback-aba4da2deced"> Callbacks </a></li>
                <li> <a href = "https://qph.fs.quoracdn.net/main-qimg-7ca2486d5047ec0888bbc3da65124d19.webp"> CS Memes </a></li>

            </ol>
        </div>
        <h1>What I don't like</h1>
        <div>
            <ol>
                    <li> Not </li>
                    <li> Really </li>
                    <li> Sure </li>

            </ol>
        </div>
    </body>

</html>